# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# The Documentation Team own all of the things.
# Because this fake-file doesn't exist, the Documentation Team won't be automatically pinged
# BUT, the members of the Documentation Team are still required to approve a PR for the `main` branch.
/fake-file.foo @wpaccessibility/documentation-team

# ... except this file; this is kept separate to avoid the above being changed so easily.
/.github/CODEOWNERS @rianrietveld @GaryJones
