<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow" />

  {%- include components/title.html -%}

  {% if page.canonical_url %}
  <link rel="canonical" href="{{page.canonical_url}}">
  {% endif %}

  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

  <script src="https://unpkg.com/lunr/lunr.js"></script>
  <script src="{{ '/assets/js/wp-a11y-docs.js' | relative_url }}"></script>

  {% if page.has_video %}
  <link rel="stylesheet" href="{{ '/assets/css/ableplayer.min.css' | relative_url }}">
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/ableplayer.min.js' | relative_url }}"></script>
  {% endif %}

</head>
