@use "sass:map";
@use "../../assets/@fontsource-variable/source-sans-3/index.css" as
  source-sans-3-variable;
@use "../../assets/@fontsource-variable/source-serif-4/index.css" as
  source-serif-4-variable;

// Colors new design
:root {
  /* Type scale */
  --text-font-size-sm: clamp(1rem, 0.8118rem + 0.3765vw, 1rem);
  --text-font-size-md: clamp(1.125rem, 1.0147rem + 0.4706vw, 1.25rem);
  --text-font-size-lg: clamp(1.25rem, 1.2684rem + 0.5882vw, 1.5rem);
  --text-font-size-xl: clamp(1.5rem, 1.5855rem + 0.7353vw, 2rem);
  --text-font-size-2xl: clamp(2rem, 1.9818rem + 0.9191vw, 2.5rem);
  --text-font-size-3xl: clamp(2.5rem, 2.4773rem + 1.1489vw, 3rem);

  /* Colors: Brand */
  --color-wa11ypuu-yellow: #f0c507;

  /* Colors: Neutral */
  --color-neutral-bg-document: #fcfcfc;
  --color-neutral-bg-subtle: #f6f6f7;
  --color-neutral-bg-default: #f0f1f1;
  --color-neutral-bg-hover: #eaebeb;
  --color-neutral-bg-active: #e5e5e6;
  --color-neutral-border-subtle: #c2c4c5;
  --color-neutral-border-default: #848789;
  --color-neutral-border-hover: #797c7f;
  --color-neutral-border-active: #6f7276;
  --color-neutral-color-default: #606467;
  --color-neutral-color-hover: #565a5e;
  --color-neutral-color-active: #484c50;
  --color-neutral-color-subtle: #3a3e43;
  --color-neutral-color-document: #23282d;
  --color-neutral-color-placeholder: #757575;

  /* Colors: Neutral Inverse */
  --color-neutral-inverse-bg-document: #202429;
  --color-neutral-inverse-bg-subtle: #181c1f;
  --color-neutral-inverse-bg-default: #565a5e;
  --color-neutral-inverse-bg-hover: #484c50;
  --color-neutral-inverse-bg-active: #3a3e43;
  --color-neutral-inverse-border-subtle: #43474b;
  --color-neutral-inverse-border-default: #c8c9cb;
  --color-neutral-inverse-border-hover: #d3d4d5;
  --color-neutral-inverse-border-active: #dfe0e0;
  --color-neutral-inverse-color-default: #fcfcfc;
  --color-neutral-inverse-color-hover: #fcfcfc;
  --color-neutral-inverse-color-active: #fcfcfc;
  --color-neutral-inverse-color-subtle: #c0c1c2;
  --color-neutral-inverse-color-document: #fcfcfc;

  /* Colors: Informative */
  --color-informative-bg-document: #fbfcff;
  --color-informative-bg-subtle: #f4f6fe;
  --color-informative-bg-default: #edf0fd;
  --color-informative-bg-hover: #e6eafc;
  --color-informative-bg-active: #dfe4fc;
  --color-informative-border-subtle: #b6c1f7;
  --color-informative-border-default: #657eee;
  --color-informative-border-hover: #5772ec;
  --color-informative-border-active: #4866eb;
  --color-informative-color-default: #3654df;
  --color-informative-color-hover: #304cca;
  --color-informative-color-active: #2940aa;
  --color-informative-color-subtle: #22358c;
  --color-informative-color-document: #16225b;

  /* Colors: Positive */
  --color-positive-bg-document: #fafdfb;
  --color-positive-bg-subtle: #eff9f3;
  --color-positive-bg-default: #e4f5ea;
  --color-positive-bg-hover: #d9f1e2;
  --color-positive-bg-active: #ceedd9;
  --color-positive-border-subtle: #8ad3a6;
  --color-positive-border-default: #009b3a;
  --color-positive-border-hover: #009036;
  --color-positive-border-active: #008432;
  --color-positive-color-default: #00732b;
  --color-positive-color-hover: #006827;
  --color-positive-color-active: #005821;
  --color-positive-color-subtle: #00481b;
  --color-positive-color-document: #002f12;

  /* Colors: Negative */
  --color-negative-bg-document: #fffbfb;
  --color-negative-bg-subtle: #fef4f4;
  --color-negative-bg-default: #feeded;
  --color-negative-bg-hover: #fde6e6;
  --color-negative-bg-active: #fddede;
  --color-negative-border-subtle: #f9b1b1;
  --color-negative-border-default: #f14848;
  --color-negative-border-hover: #ef2929;
  --color-negative-border-active: #e60000;
  --color-negative-color-default: #ca0000;
  --color-negative-color-hover: #b70000;
  --color-negative-color-active: #9c0000;
  --color-negative-color-subtle: #820000;
  --color-negative-color-document: #580000;

  /* Colors: Warning */
  --color-warning-bg-document: #fffcf3;
  --color-warning-bg-subtle: #fff6db;
  --color-warning-bg-default: #fff0c1;
  --color-warning-bg-hover: #ffeaa6;
  --color-warning-bg-active: #ffe48a;
  --color-warning-border-subtle: #e9c00a;
  --color-warning-border-default: #a08317;
  --color-warning-border-hover: #947a17;
  --color-warning-border-active: #887018;
  --color-warning-color-default: #766117;
  --color-warning-color-hover: #6b5817;
  --color-warning-color-active: #5a4a16;
  --color-warning-color-subtle: #493c14;
  --color-warning-color-document: #2f2710;
}

// Color vars JTD theme
$grey-dk-000: var(--color-neutral-border-default) !default;
$grey-dk-050: var(--color-neutral-border-hover) !default;
$grey-dk-100: var(--color-neutral-color-hover) !default;
$grey-dk-200: var(--color-neutral-color-active) !default;
$grey-dk-250: var(--color-neutral-color-subtle) !default;
$grey-dk-300: var(--color-neutral-color-document) !default;
$grey-lt-000: var(--color-neutral-bg-subtle) !default;
$grey-lt-100: var(--color-neutral-bg-hover) !default;
$grey-lt-200: var(--color-neutral-bg-active) !default;
$grey-lt-300: var(--color-neutral-inverse-border-hover) !default;

// Spacing.
$spacing-unit: 1rem; // 1rem == 16px
$spacers: (
  sp-0: 0,
  sp-1: $spacing-unit * 0.25,
  sp-2: $spacing-unit * 0.5,
  sp-3: $spacing-unit * 0.75,
  sp-4: $spacing-unit,
  sp-5: $spacing-unit * 1.5,
  sp-6: $spacing-unit * 2,
  sp-7: $spacing-unit * 2.5,
  sp-8: $spacing-unit * 3,
  sp-9: $spacing-unit * 3.5,
  sp-10: $spacing-unit * 4,
) !default;
$sp-1: map.get($spacers, sp-1) !default; // 0.25 rem == 4px
$sp-2: map.get($spacers, sp-2) !default; // 0.5  rem == 8px
$sp-3: map.get($spacers, sp-3) !default; // 0.75 rem == 12px
$sp-4: map.get($spacers, sp-4) !default; // 1    rem == 16px
$sp-5: map.get($spacers, sp-5) !default; // 1.5  rem == 24px
$sp-6: map.get($spacers, sp-6) !default; // 2    rem == 32px
$sp-7: map.get($spacers, sp-7) !default; // 2.5  rem == 40px
$sp-8: map.get($spacers, sp-8) !default; // 3    rem == 48px
$sp-9: map.get($spacers, sp-9) !default; // 3.5  rem == 56px
$sp-10: map.get($spacers, sp-10) !default; // 4  rem == 64px
$gutter-spacing: $sp-8 !default;
$gutter-spacing-sm: $sp-4 !default;

// Fonts.
$body-font-family: "Source Sans 3 Variable", sans-serif;
$heading-font-family: "Source Serif 4 Variable", serif;
$mono-font-family: "SFMono-Regular", menlo, consolas, monospace !default;

// Main colors.
$body-background-color: var(--color-neutral-bg-document) !default;
$body-text-color: var(--color-neutral-color-subtle) !default;

// Line heights.
$body-line-height: 1.5 !default;
$content-line-height: 1.5 !default;
$body-heading-line-height: 1.25 !default;

// Borders.
$border: 1px solid !default;
$border-radius: 4px !default;
$border-color: var(--color-neutral-border-default);

// Layout.
$nav-width: 17.75rem !default;
$nav-width-md: 15.5rem !default;
$nav-list-item-height: $sp-6 !default;
$nav-list-item-height-sm: $sp-8 !default;
$nav-list-expander-right: true;
$content-width: 50rem !default;
$header-height: 4rem !default;
$search-results-width: $content-width - $nav-width !default;
$transition-duration: 400ms;
