@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.lh-0 {
  line-height: 0 !important;
}

.lh-default {
  line-height: $body-line-height;
}

.lh-tight {
  line-height: $body-heading-line-height;
}

.ls-5 {
  letter-spacing: 0.05em !important;
}

.ls-10 {
  letter-spacing: 0.1em !important;
}

.ls-0 {
  letter-spacing: 0 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}
