
  <footer>

    <nav aria-label="Footer">
      <h2 class="screen-reader-text">Footer navigation</h2>

      <div class="container">

        <div class="column">
        <h3>Quick links</h3>
        <ul>
          <li><a href="{{site.baseurl}}/docs/topics/theme-guidelines/">Theme accessibility-ready tag</a></li>
          <li><a href="{{site.baseurl}}/docs/topics/code/screen-reader-text/">CSS class .screen-reader-text</a></li>
          <li><a href="{{site.baseurl}}/docs/topics/legislation/">Legislation worldwide</a></li>
          <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
          <li><a href="{{site.baseurl}}/docs/about/sponsors/">Sponsors</a></li>
          <li><a href="{{site.baseurl}}/docs/about/contact/">Contact us</a></li>
        </ul>
        </div>

        <div class="column">
        <h3>Content</h3>
          <ul>
            <li><a href="{{site.baseurl}}/docs/start/guide/">Find the documentation for you</a></li>
            <li><a href="{{site.baseurl}}/docs/start/">Start with accessibility</a></li>
            <li><a href="{{site.baseurl}}/docs/topics/">Standards and best practice</a></li>
            <li><a href="{{site.baseurl}}/docs/testing/">Test for accessibility</a></li>
            <li><a href="{{site.baseurl}}/docs/wp-a11y/">WordPress and Accessibility</a></li>
            <li><a href="{{site.baseurl}}/docs/about/">About this documentation</a></li>
          </ul>
        </div>

      </div>


      <p>
        <span aria-hidden="true">&uarr;</span>
        <a href="#top" id="back-to-top" class="back-to-top">
          Back to top
        </a>
      </p>

    </nav>

  </footer>

