<div class="side-bar">
  <header class="site-header">

    <div class="lh-wrapper">
      <a href="{{ '/' | relative_url }}" class="site-title lh-tight">
        <img src="{{site.baseurl}}/assets/images/logo-wa11ypuu.png" alt="Logo WP Accessibility">
        {{ site.title }}
      </a>
    </div>

    <div class="menu-button-wrapper">
      <button id="menu-button" class="site-button" aria-expanded="false">
        <div>Menu</div>
        <svg viewBox="0 0 24 24" class="icon" aria-hidden="true">
          <use xlink:href="#svg-menu"></use>
        </svg>
      </button>
    <div>

  </header>

  {% include_cached components/site_nav.html %}
</div>
