@use "../abstracts/variables" as *;
@use "../base/colors" as *;

// Callouts.

.callout {
  padding: 1rem;
  border-left: $border-radius solid var(--color-neutral-bg-subtle);

  &::before {
    display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: $sp-2;
  }
}

p.example {
  background: var(--color-informative-bg-document);
  border-left-color: var(--color-informative-border-default);

  > strong {
    color: var(--color-informative-color-s);
  }
}

p.alert {
  background: var(--color-warning-bg-document);
  border-left-color: var(--color-warning-border-default);

  > strong {
    color: var(--color-warning-color-subtle);
  }
}

p.tip {
  background: var(--color-positive-bg-document);
  border-left-color: var(--color-positive-border-default);

  > strong {
    color: var(--color-positive-color-subtle);
  }
}

p.info {
  background: var(--color-informative-bg-default);
  border-left-color: var(--color-informative-border-default);

  > strong {
    color: var(--color-informative-color-subtle);
  }
}

p.warning {
  background: var(--color-negative-bg-default);
  border-left-color: var(--color-negative-border-default);

  > strong {
    color: var(--color-negative-color-subtle);
  }
}

p.dont {
  background: var(--color-negative-bg-default);
  border: 2px solid var(--color-negative-border-default);
  border-radius: $border-radius;

  > strong {
    color: var(--color-negative-color-subtle);
  }
}

p.do {
  background: var(--color-positive-bg-default);
  border: 2px solid var(--color-positive-border-default);
  border-radius: $border-radius;

  > strong {
    color: var(--color-positive-color-subtle);
  }
}
