@use "../abstracts/variables" as *;
@use "../base/colors" as *;

// callouts

div.opaque {
  background-color: $body-background-color;
}

p.tutorial,
blockquote.highlight {
  background: rgba($green-000, 0.1);
  border-left: $border-radius solid $green-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Example";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }

  > .tutorial-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

p.tutorial-title,
blockquote.tutorial-title {
  background: rgba($green-000, 0.1);
  border-left: $border-radius solid $green-300;
  border-radius: $border-radius;
  padding: 0.8rem;


}

blockquote.tutorial {
  margin-left: 0;
  margin-right: 0;

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

blockquote.tutorial-title {
  margin-left: 0;
  margin-right: 0;

  > p:nth-child(2) {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

p.alert,
blockquote.alert {
  background: rgba($yellow-000, 0.1);
  border-left: $border-radius solid $yellow-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Alert";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }

  > .alert-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

p.alert-title,
blockquote.alert-title {
  background: rgba($yellow-000, 0.1);
  border-left: $border-radius solid $yellow-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

blockquote.alert {
  margin-left: 0;
  margin-right: 0;

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

blockquote.alert-title {
  margin-left: 0;
  margin-right: 0;

  > p:nth-child(2) {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

p.tip,
blockquote.tip {
  background: rgba($green-000, 0.1);
  border-left: $border-radius solid $green-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Tip";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }

  > .tip-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

p.tip-title,
blockquote.tip-title {
  background: rgba($green-000, 0.1);
  border-left: $border-radius solid $green-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

blockquote.tip {
  margin-left: 0;
  margin-right: 0;

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

blockquote.tip-title {
  margin-left: 0;
  margin-right: 0;

  > p:nth-child(2) {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

p.info,
blockquote.info {
  background: rgba($purple-000, 0.1);
  border-left: $border-radius solid $purple-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Info";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }

  > .info-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

p.info-title,
blockquote.info-title {
  background: rgba($purple-000, 0.1);
  border-left: $border-radius solid $purple-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

blockquote.info {
  margin-left: 0;
  margin-right: 0;

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

blockquote.info-title {
  margin-left: 0;
  margin-right: 0;

  > p:nth-child(2) {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

p.warning,
blockquote.warning {
  background: rgba($red-000, 0.1);
  border-left: $border-radius solid $red-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Warning";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }

  > .warning-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

p.warning-title,
blockquote.warning-title {
  background: rgba($red-000, 0.1);
  border-left: $border-radius solid $red-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0.125rem;
  }
}

blockquote.warning {
  margin-left: 0;
  margin-right: 0;

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

blockquote.warning-title {
  margin-left: 0;
  margin-right: 0;

  > p:nth-child(2) {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}
