@use "../abstracts/variables" as *;
@use "../base/colors" as *;

// Callouts.

div.opaque {
  background-color: var(--color-neutral-bg-document);
}

p.example {
  background: var(--color-informative-bg-document);
  border-left: $border-radius solid var(--color-informative-border-default);
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Example";
    display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }

  > .tutorial-title {
    display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.tutorial-title {
  background: rgba($green-000, 0.1);
  border-left: $border-radius solid $green-300;
  border-radius: $border-radius;
  padding: 0.8rem;
}

p.alert {
  background: rgba($yellow-000, 0.1);
  border-left: $border-radius solid $yellow-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Alert";
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }

  > .alert-title {
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.alert-title {
  background: rgba($yellow-000, 0.1);
  border-left: $border-radius solid $yellow-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.tip {
  background: rgba($green-000, 0.1);
  border-left: $border-radius solid $green-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Tip";
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }

  > .tip-title {
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.tip-title {
  background: rgba($green-000, 0.1);
  border-left: $border-radius solid $green-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.info {
  background: var(--color-informative-bg-default);
  border-left: $border-radius solid var(--color-informative-border-default);
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Info";
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }

  > .info-title {
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.info-title {
  background: rgba($purple-000, 0.1);
  border-left: $border-radius solid $purple-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.warning {
  background: rgba($red-000, 0.1);
  border-left: $border-radius solid $red-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Warning";
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }

  > .warning-title {
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.warning-title {
  background: rgba($red-000, 0.1);
  border-left: $border-radius solid $red-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.dont {
  background: rgba($red-000, 0.1);
  border: 2px solid $red-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Don't";
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }

  > .dont-title {
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.dont-title {
  background: rgba($red-000, 0.1);
  border: 2px solid $red-300;
  border-radius: $border-radius;
  padding: 0.8rem;

  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.do {
  background: rgba($green-000, 0.1);
  border: 2px solid $green-000;
  border-radius: $border-radius;
  padding: 0.8rem;

  &::before {
    content: "Do";
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }

  > .dont-title {
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}

p.do-title {
  background: rgba($green-000, 0.1);
  border: 2px solid $green-000;
  border-radius: $border-radius;
  padding: 0.8rem;

  > p:first-child {
    margin-top: 0;
    margin-bottom: 0;
display: block;
    font-family: $heading-font-family;
    font-weight: 600;
    padding-bottom: 0.125rem;
  }
}
