@use "../abstracts/variables" as *;
@use "../base/colors" as *;
@use "../abstracts/mixins" as *;

// Labels (not the form kind).

.label {
  color: var(--color-neutral-color-default);
  background-color: var(--color-neutral-bg-default);
  display: inline-block;
  font-weight: 700;
  padding: 0.16em 0.56em;
  margin-right: $sp-2;
  margin-left: $sp-2;
  vertical-align: middle;
  border-radius: 12px;
}

.label-blue {
  color: var(--color-informative-color-default);
  background-color: var(--color-informative-bg-default);
}

.label-green {
  color: var(--color-positive-color-default);
  background-color: var(--color-positive-bg-default);
}

.label-yellow {
  color: var(--color-warning-color-default);
  background-color: var(--color-warning-bg-default);
}

.label-red {
  color: var(--color-negative-color-default);
  background-color: var(--color-negative-bg-default);
}
