@use "../abstracts/variables" as *;
@use "../abstracts/media-query" as *;

// In-page navigation.

.prev-next,
.siblings,
.toc {
  margin: 0 -1.25em;
  padding: 1.25em;
  background-color: var(--color-neutral-bg-default);

  h2 {
    margin-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      h3 {
        font-size: var(--text-font-size-md);
      }
      p {
        padding: 0;
      }
    }
  }

  span {
    color: var(--color-informative-color-default);
    padding-right: 0.3em;
  }
}
