// ------------------------------------------------------------
// Imports
// ------------------------------------------------------------
@use "../abstracts/variables" as *;
@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../abstracts/mixins" as *;

// ------------------------------------------------------------
// Search container
// ------------------------------------------------------------
.search {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  height: $sp-10;
  padding: $sp-2;
  transition: padding linear #{$transition-duration * 0.5};

  @include mq(md) {
    position: relative !important;
    width: auto !important;
    height: 100% !important;
    padding: 0 $sp-8;
    transition: none;
  }
}

// ------------------------------------------------------------
// Search input wrapper
// ------------------------------------------------------------
.search-input-wrap {
  position: relative;
  z-index: 1;
  height: $sp-8;
  display: flex;
  align-items: center;
  transition: height linear #{$transition-duration * 0.5};

  @include mq(md) {
    width: 100%;
    height: 100% !important;
    transition: width ease $transition-duration;
  }

  // Focused state styling
  &:has(*:focus) {
    .search-label,
    .search-input {
      border: 2px solid black;
      border-left: none;
      outline: none;
    }

    .search-label {
      border-left: 2px solid black;
      border-right: none;
    }
  }
}

// ------------------------------------------------------------
// Search input
// ------------------------------------------------------------
.search-input {
  width: 100%;
  height: 100%;
  padding: $sp-2 $gutter-spacing-sm $sp-2 0;
  font-size: 1rem;
  border-width: 1px;
  border-color: var(--color-neutral-border-default);
  border-left: none;

  @include mq(md) {
    position: relative;
    flex-grow: 1;
  }
}

// ------------------------------------------------------------
// Submit button
// ------------------------------------------------------------
.search-submit {
  display: block;
  padding: $sp-2;
  margin-left: $sp-2;
  height: 100%;
  font-weight: 600;
  border-radius: $border-radius;
  cursor: pointer;

  @include mq(sm) {
    color: var(--color-neutral-inverse-document);
    background-color: var(--color-neutral-bg-document);
    border: 1px solid var(--color-neutral-border-default);
  }
}

// ------------------------------------------------------------
// Search label
// ------------------------------------------------------------
.search-label {
  display: flex;
  height: 100%;
  z-index: 10;
  color: var(--color-neutral-color-document);
  background-color: var(--color-neutral-bg-document);
  padding-left: $gutter-spacing-sm;
  padding-right: 0.5rem;
  border: 1px solid var(--color-neutral-border-default);
  border-right: none;

  .search-icon {
    width: #{$sp-4 * 1.2};
    height: #{$sp-4 * 1.2};
    align-self: center;
    color: 1px solid var(--color-neutral-border-default);
  }
}

// ------------------------------------------------------------
// Search results dropdown
// ------------------------------------------------------------
.search-results {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  max-height: calc(100% - #{$sp-10});
  overflow-y: auto;
  padding: $sp-1 $sp-2;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;

  @include mq(md) {
    top: 100%;
    max-height: calc(100vh - 200%) !important;
    padding-left: 3rem;
  }
}

.search-results-list {
  padding-left: 0;
  margin-bottom: $sp-1;
  list-style: none;
  background-color: $body-background-color;
  outline: 1px solid $border-color;
  outline-offset: -1px;
}

// ------------------------------------------------------------
// Full search results page
// ------------------------------------------------------------
#search-results-page {
  li {
    padding: $sp-2;
    margin: 0;

    p {
      margin: 0 auto;
    }
  }

  h3 {
    margin: 0;

    a {
      color: $link-color;
      font-size: var(--text-font-size-md);
    }
  }

  li:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.04);
  }
}

// ------------------------------------------------------------
// Individual search result listing
// ------------------------------------------------------------
.search-results-list-item {
  padding: 0;
  margin: 0;
  font-size: var(--text-font-size-sm);
}

.search-result {
  display: block;
  padding: $sp-1 $sp-3;

  &:hover,
  &.active {
    background-color: $feedback-color;
  }
}

.search-result-title {
  display: block;
  padding: $sp-2 0;

  @include mq(sm) {
    display: inline-block;
    padding-right: $sp-2;
    vertical-align: top;
  }
}

// ------------------------------------------------------------
// Document name + icon
// ------------------------------------------------------------
.search-result-doc {
  display: flex;
  align-items: center;
  word-wrap: break-word;

  .search-result-icon {
    width: $sp-4;
    height: $sp-4;
    margin-right: $sp-2;
    color: $link-color;
    flex-shrink: 0;
  }

  .search-result-doc-title {
    overflow: auto;
    font-weight: 700;
  }
}

// ------------------------------------------------------------
// Section title
// ------------------------------------------------------------
.search-result-section {
  margin-left: #{$sp-4 + $sp-2};
  word-wrap: break-word;
}

.search-result-rel-url {
  display: block;
  margin-left: #{$sp-4 + $sp-2};
  overflow: hidden;
  color: $search-result-preview-color;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// ------------------------------------------------------------
// Search previews (disabled for now)
// ------------------------------------------------------------
.search-result-previews {
  display: none;
  padding: $sp-2 0 $sp-2 $sp-4;
  margin-left: $sp-2;
  color: $search-result-preview-color;
  word-wrap: break-word;
  border-left: $border;
  border-left-color: $border-color;

  @include mq(sm) {
    width: 60%;
    padding-left: $sp-2;
    margin-left: 0;
    vertical-align: top;
  }
}

.search-result-preview + .search-result-preview {
  margin-top: $sp-1;
}

.search-result-highlight {
  font-weight: normal;
}

.search-no-result {
  padding: $sp-2 $sp-3;
}

// ------------------------------------------------------------
// Floating search button
// ------------------------------------------------------------
.search-button {
  position: fixed;
  right: $sp-4;
  bottom: $sp-4;
  display: flex;
  width: $sp-9;
  height: $sp-9;
  background-color: $search-background-color;
  border: 1px solid rgba($link-color, 0.3);
  border-radius: #{$sp-9 * 0.5};
  align-items: center;
  justify-content: center;
}

// ------------------------------------------------------------
// Search overlay
// ------------------------------------------------------------
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition:
    opacity ease $transition-duration,
    width 0s $transition-duration,
    height 0s $transition-duration;
}

// ------------------------------------------------------------
// Search-active state
// ------------------------------------------------------------
.search-active {
  .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-neutral-inverse-bg-document);
  }

  .search-input-wrap {
    height: $sp-10;
    border-radius: 0;

    @include mq(md) {
      width: $search-results-width;
    }
  }

  .search-input {
    background-color: var(--color-neutral-bg-document);
  }

  .search-results {
    display: block;
  }

  .search-no-result {
    background-color: var(--color-neutral-bg-document);
  }

  .search-overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition:
      opacity ease $transition-duration,
      width 0s,
      height 0s;
  }

  @include mq(md) {
    .main {
      position: fixed;
      right: 0;
      left: 0;
    }
  }

  .main-header {
    padding-top: $sp-10;

    @include mq(md) {
      padding-top: 0;
    }
  }
}
