@use "../abstracts/variables" as *;
@use "../base/colors" as *;
@use "../abstracts/media-query" as *;
@use "../abstracts/mixins" as *;

// The basic two column layout

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-background-color;
  color: $sidebar-text-color;

  a {
    color: $sidebar-text-color;
    font-size: var(--text-font-size-sm);
  }

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }

  & + .main {
    @include mq(md) {
      margin-left: $nav-width-md;
    }

    @include mq(lg) {
      // stylelint-disable function-name-case
      // disable for Max(), we want to use the CSS max() function
      margin-left: Max(
        #{$nav-width},
        calc(
          (100% - #{$nav-width + $content-width}) / 2 + #{$nav-width} + 0.5rem
        )
      );
      // stylelint-enable function-name-case
    }

    .main-header {
      display: none;
      padding-top: 1rem;
      background-color: $sidebar-background-color;

      @include mq(md) {
        display: flex;
        background-color: var(--color-neutral-bg-document);
      }

      &.nav-open {
        display: block;

        @include mq(md) {
          display: flex;
        }
      }
    }
  }
}

.main {
  margin: auto;
  background-image: url("/assets/images/logo-wa11ypuu-waving-head.png");
  background-position: bottom right;
  background-repeat: no-repeat;

  @include mq(md) {
    position: relative;
    max-width: $content-width;
  }
}

.main-content-wrap {
  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include container;

  @include mq(md) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }
}

.main-header {
  z-index: 0;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
  }
}

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: $nav-width;
  }
}

.site-header,
.site-nav {
  a:focus,
  a:focus-visible {
    outline-offset: -2px;
  }
}

.site-nav {
  display: none;

  &.nav-open {
    display: block;
  }

  @include mq(md) {
    display: block;
    padding-top: $sp-5;
    padding-bottom: $gutter-spacing-sm;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .lh-wrapper {
    align-items: center;
    display: flex;

    img {
      max-height: 48px;
      padding-right: 1rem;
      margin: 0 auto;
      display: block;
    }

    @include mq(md) {
      img {
        max-width: 70%;
      }
    }
  }
  @include mq(md) {
    padding-top: 1rem;

    .lh-wrapper {
      display: block;
    }
  }
}

.site-title {
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: $sp-3;
  padding-bottom: $sp-3;
  color: $sidebar-text-color;
  font-family: $body-font-family;
  font-weight: 600;
  text-decoration: none;
  max-width: 16rem;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @include container;

  @include mq(md) {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 20rem;
  }
}

.menu-button-wrapper {
  display: flex;

  .site-button {
    display: flex;
    align-items: center;
    background-color: $sidebar-background-color;
    color: $sidebar-text-color;
    border-radius: $border-radius;
    border-color: $sidebar-text-color;
    padding: $sp-3;
    margin: 0 $sp-3;

    span {
      padding-right: $sp-1;
      font-weight: 700;
    }

    .icon {
      color: $sidebar-text-color;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@include mq(md) {
  header .menu-button-wrapper {
    display: none;
  }
}

// stylelint-disable selector-max-type

body {
  position: relative;
  margin: 0;
  padding-bottom: 0;
  overflow-y: scroll;

  @include mq(md) {
    position: static;
  }
}

// stylelint-enable selector-max-type

.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;

  @include container;

  @include mq(md) {
    position: static;
    justify-self: end;
  }
}

.icon {
  width: $sp-5;
  height: $sp-5;
  color: $link-color;
}

.back-to-top {
  color: var(--color-neutral-color-default);
  font-size: 1rem;
}
