@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/colors" as *;

// Base element style overrides
// stylelint-disable selector-no-type, selector-max-type, selector-max-specificity, selector-max-id

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-wrap: break-word;
}

ol,
ul,
dl,
pre,
address,
blockquote,
table,
div,
hr,
form,
fieldset,
noscript .table-wrapper {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: $link-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

}

button {
  cursor: pointer;
}

code {
  font-family: $mono-font-family;
  font-size: var(--text-font-size-sm);
  line-height: $body-line-height;
}

figure,
pre {
  margin: 0;
}

li {
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  height: auto;
}

img.sponsor {
  margin-top: 2em;
  max-width: 30%;
  height: auto;
}

hr {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
}

// adds a GitHub-style sidebar to blockquotes.
blockquote {
  margin: 10px 0;

  // resets user-agent stylesheets for blockquotes.
  margin-block-start: 0;
  margin-inline-start: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--color-positive-border-default);
}

::placeholder {
  color: var(--color-neutral-color-placeholder);
  opacity: 1;
}
