@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Typography

body {
  font-family: $body-font-family;
  font-size: var(--text-font-size-md);
  font-weight: 400;
  line-height: $body-line-height;
  color: var(--color-neutral-color-document);
  background-color: var(--color-neutral-bg-document);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: 600;
  line-height: $body-heading-line-height;
}

h1 {
  line-height: 1.1;
  font-size: var(--text-font-size-3xl);
}

h2 {
  line-height: 1.25;
  font-size: var(--text-font-size-2xl);
}

h3 {
  font-size: var(--text-font-size-xl);
  line-height: 1.25;
}

h4 {
  font-size: var(--text-font-size-lg);
}

h5 {
  font-size: var(--text-font-size-md);
}

h6 {
  font-size: var(--text-font-size-sm);
}

small,
.text-small {
  font-size: var(--text-font-size-sm);
}

.lead {
  font-size: var(--text-font-size-lg);
}

.text-mono {
  font-family: $mono-font-family !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}
